TALK_ITEM_BACKGROUND = whitesmoke

.talk

  .talk-comment
    background: TALK_ITEM_BACKGROUND

  .talk-comment-form
    background: TALK_ITEM_BACKGROUND

  .talk-board-link
    background: TALK_ITEM_BACKGROUND

  .talk-board-post-link
    background: TALK_ITEM_BACKGROUND